<!-- your html code here -->
<div class="row bg-white">
  <div class="col-12">
    <h1><strong>Contact</strong></h1>
    <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id lifula porta felis eusmod simper. Praesent
      commodo cursus magna,vel scelerisque sisl consectuetur. Fusce dapibus, tellus ac cusus</p>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 bg-light">
        <form>
          <div class=" my-3 d-flex justify-content-end">
            <label for="exampleInputEmail1" class=" form-label me-3">Your E-mail</label>
            <input type="email" class="w-75 form-control" id="exampleInputEmail1" aria-describedby="your E-mail">

          </div>
          <div class="mb-3 d-flex justify-content-end">
            <label for="exampleFormControlTextarea1" class="form-label me-3">Your message</label>
            <textarea class="w-75 form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary mb-3 ">submit</button>
          </div>
        </form>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
  