
   <div class="row bg-white justify-content-center">
    <div class="col row d-flex ">
     
    <div class="col-1">

    </div>
      <div class="col-5 card-body  my-5 ">
        <h3 class="card-title fw-bold fs-2m text-start">The Fist Heading  <label class="text-muted text-start"> Will Catch Your Eye</label></large></h3>
        <p class="card-text text-start my-auto">Donec ullamcorper mulla non metus auctor fringill. Vestinulum id ligula porta felis</p>
           <p class="text-start my-auto">euismod semper. Praesemt cpmmodo cursus magna, vel scelerisque nisl</p><p> consectuer Fusce apilubus, 
           telles ac cursus commodo.</p></div>
         <div class="col-5">
        <img src="./assets/img/1.jpg" class=" image-fluid rounded-circle" alt="..." style="width: 350px;height: 350px;">
    </div>
    <div class="col-1">

    </div>
      </div>
    </div>
  