<!-- your html code here -->
<div class="row">
    <div class="col-1"></div>
        <div class="col-10">
        <h1 class="portfolio header">Portfolio</h1>
        <p class="portfolio desc fs-5 fw-l" >Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus
        magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        <div class="col-1"></div>
    </div>
</div>
<div class="row">
    <div class="col-1"></div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="./assets/img/big-project-image.png" class="card-img-top">
        <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
</div>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col-1"></div>
</div>