<!-- <div class="card justify-content-center"> -->
  <div class="row bg-white">
    <div class="col-4 ">
      <img src="./assets/img/2.jpg" class="img-fluid rounded-circle ms-4" alt="...">
    </div>
    <div class="col container-fluid">
      <div class="card-body ">
        <h3 class="card-title fw-bold fs-2m">The Second Heading <label class="text-muted"> is pretty cool too!</label></large></h3>
        <p class="card-text">Donec ullamcorper mulla non metus auctor fringill. Vestinulum id ligula porta felis
           euismod semper. Praesemt cpmmodo cursus magna, vel scelerisque nisl consectuer Fusce apilubus, 
           telles ac cursus commodo.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
<!-- </div> -->