
<!-- <div class="row container"> -->
  <div class="col">
    <img style="display: block;-webkit-user-select: none;margin: auto;cursor: zoom-in;
    background-color: hsl(0, 0%, 90%);transition: background-color 300ms;" 
    src="./assets/img/bg.jpg" 
    width="1140" 
    height="400">

 <div class = "text  ">
   <span class="text-center"><h1>One Page Wonder</h1>
 
  <div class="text"></div>
  <div class= "text-center d-flex" ><h2>Will Knock Your Socks Off</h2>

  </span>
 </div>
    </div>
  </div>
</div>
  <style>
 .text h1 { 
      position: absolute;
      top: 30%;
      left: 50%;
      right: 10%;
      background-color: white;
      transform: translate(-50%, -50%);
      font-size: 5rem;
      font-weight: bolder;
      width: 89%;
      height: 20%;
    }  
    
 
 .text h2 { 
      position: absolute;
      top: 48%;
      left: 50%;
      right: 10%;
      background-color: white;
      transform: translate(-50%, -50%);
      font-size: 3rem;
      font-weight: bolder;
      width:89%;
      height: 10%
    }  
  </style>

  </div>
</div>
